/*  базовые стили */
a {
	cursor: pointer;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
}

@media (min-width: 1200px) {
    .container {
        width: 970px !important;
    }
}

.row {
	margin: 0;
}

.alert {
	padding: 5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 6px;
	padding-right: 6px;
}

.container {
	padding-left: 4px;
	padding-right: 4px;
}

.content-area {
	background: #ffffff;
	min-height: calc(100vh - 200px);
}

.btn {
	background-color: #337ab7;
	color: white;
	border-radius: 3px;
	border: none;
}
.btn:hover {
	background-color: #337ccc;
}
/* Конец - базовые стили */

/* Верхний бар */
.top-navbar {
	border-bottom: 1px solid #d9e1ec;
}

.logo {
	font-weight: 100;
	color: #333333;
}

.logo:hover {
	text-decoration: none;
}
/* Конец - Верхний бар */


/* стили превью поста */
.post-preview {
	padding: 18px 0 18px 0;
	font-size: 14px;
    line-height: 24px;
}

.post-header a:hover {
    text-decoration: none;
}
.post-preview-title {
	margin: 1% 0 0 0;
	font-weight: 100;
	line-height: 110%;
	color: #333333;
}
.post-preview-title:hover {
	color: #888;	
}

.post-pudate {
	font-size: small;
	font-weight: 100;
}

.post-tag {
	cursor: default;
	color: #337ab7;
}

.post-preview-image {
	margin: 1.5% 0 1.5% 0;
	height: 250px;
}

.preview-text {
	line-height: 160%;
	margin-top: 0;
	text-align: justify;
}

.post-preview-more {
	padding: 4px 5px 4px 0;
	position: relative;
	top: -10px;
}
/* Конец - стили превью поста */

/* blur background */
.blur-background {
	position: absolute;
	top: 0;
	left: 0;
}
/* Конец -blur background */

/*  модальные окна */
.ui-dialog {
	box-shadow: 0 0 15px 2px;
	position: fixed;
	top: 50%;
	left: 50%;
}

.ui-dialog-titlebar {
	background-color: #444;
}
/*  Конец - модальные окна */

/* Список навигации */
.nav-list-header {
	margin: 0;
	font-size: 15px;
	font-weight: 200;
	border-bottom: 1px solid #d9e1ec;
}
.nav-list {
	list-style: none;
	padding: 0 10px 0 10px;
}

.nav-list li {
	padding: 5px;
}

.nav-list > li > a {
	display: block;
}
/* Конец - Список навигации */

/* Футер */
.footer-wrap {
	background-color: #f9f9f9;
	/*background-color: #f8f9ff;*/
	padding: 25px 0 25px 0;
}

/* Конец - Футер */

/* Блок пагинации */
.pagination > .active > a {
	color: #337ab7;
	background-color: #ffffff;
}

.pagination > .active > a:hover {
	background-color: #719abd;
}
/* Конец - Блок пагинации */

/* Стили статьи */
.title {
	margin: 5% 0 0 0;
	font-weight: 100;
	line-height: 110%;
	color: #333333;
}

.text-block {
	text-align: justify;
    margin-top: 15px;
}
/* Конец - Стили статьи */

/* 404 страница */
.notfound-block {
	text-align: center;
	font-weight: 100;
}

.notfound-main-text {
	font-size: 140px;
}

.notfound-sub-text {
	font-size: 25px;
	margin-top: -30px;
}
/* Конец -  404 страница */

/* Страница логина */
.center-block-wrap {
	float: none;
	margin: 7% auto 20px auto;
}

.form-input {
	width: 250px;
	height: 30px;
	margin: 4px 20px;
	padding: 0 10px;
}

.form-btn {
	margin-left: 20px;
	margin-top: 5px;
	padding: 3px 10px;
}
/* Конец - Страница логина */

/* Cстраница редактирования поста */
.post-edit-title-input {
	width: 100%;
	height: 30px;
	margin: 0 2px 4px 2px;
	padding: 0 10px;
}

.post-edit-pub-date-input div {
    display: inline;
}

.content-wrap {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.post-edit-header {
	margin-bottom: 5px;
	margin-top: 15px;
}

.post-edit-tool-panel {
	padding-left: 2%;
	padding-top: 1%;
	padding-right: 1%;
	position: fixed;
}

.post-edit-tool-panel-save {
	margin-top: 10px;
}

.post-edit-tool-panel-status {
	padding-bottom: 10px;
}

.post-edit-message {
	margin-top: 10px;
}
/* Конец - Cтраница редактирования поста */

/* Cтраница поста */
.post-title,
h1, h2, h3, h4, h5, h6 {
	margin: 1% 0 0 0;
	font-weight: 100 !important;
	line-height: 110% !important;
	color: #333333;
}
.post-wrap {
	padding: 10px 0 18px 0;
	font-size: 14px;
    line-height: 24px;
}
/* Конец - Cтраница поста */

/* Социаьные кнопки - Cтраница поста */
.share-bnts-wrap {
	border-top: 1px solid #d9e1ec;
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: block;
	padding: 0 5px 5px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.share-btn {
	display: inline-block;
	vertical-align: inherit;
	margin: 5px 0 0 5px;
	padding: 0;
	width: 42px;
	height: 42px;
	background: url(../images/share-btns.png) 0 0 transparent no-repeat;
}

.share-btn-vk {
	background-position: -167px 0;
}

.share-btn-ok {
	background-position: -126px 0;
}

.share-btn-facebook {
	background-position: 0 0;
}

.share-btn-twitter {
	background-position: -42px 0;
}

.share-btn-mailru {
	background-position: -294px 0;
}

.share-btn-email {
	background-position: -924px 0;
}

.share-btn-print {
	background-position: -966px 0;
}
/* Конец - Социаьные кнопки - Cтраница поста */

/* Страница /about */
.about-author-block {
	margin-top: 25px;	
}

.about-author-avatar {
	border-radius: 50%;
	width: 75%;
}
/*  Конец - Страница /about */


/* Страница /register /login */
.register-input-label,
.login-input-label {
    font-size: 1.4em;
}

.register-input,
.login-input {
    float: right;
    width: 60%;
    height: 110%;
}

.register-input-row,
.login-input-row {
    height: 30px;
    margin-bottom: 3%;
}

.register-form-block,
.login-form-block {
    margin-top: 4%;
}

.register-submit-btn,
.login-submit-btn {
    width: 25%;
    float: right;;
}
/*  Конец - Страница /register /login  */

