{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="col-sm-9 col-xs-12">
            <h1 class="title">О сайте</h1>
            <div class="text-block">
                <p>
                    Привет!
                </p>
                <p>
                    Это персональный блог где в свободное время я пишу об интересных вещах из мира IT.
                </p>
                <p>
                    Сайт создавался just for fun, ну и немного с целью поделиться информацией с окружающим миром.
                </p>
                <p>
                    Работает это все благодаря следующему хозяйству: Nginx, php7-fastCGI, MySql, Twig, Bootstrap (сетка), SSL - Let's Encrypt
                </p>
                <p>
                    Если Вы хотите что то похожее для своего проекта или возможно Вам нужно что то сделать c кодом вашего проекта, то <a href="mailto:darakon92@gmail.com">свяжитесь</a> со мной, и мы обсудим варианты
                </p>
                <h2 class="title">Об авторе</h2>
                <div class="row about-author-block">
                    <div class="col-sm-4 col-xs-4">
                        <img class="about-author-avatar" alt="avatar" src="https://avatars2.githubusercontent.com/u/8844625?v=4&amp;s=460">
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        Меня зовут Артем, я веб - разработчик. По большей части backend.
                        Frontend тоже люблю, но без фанатизма.<br>
                        <p>Пишу в основном на php (7, 5.x). В свободное время делаю что нибудь такое на Golang.</p>
                        <p>Интересуюсь микросервисами, CI/CD, контейнерами, системными администрированием.</p>
                        <p>Всегда интресно поковырять что нибудь новое, поэтому посты здесь могут быть на самые разные темы.<p>
                        <p>Еще я катаюсь на <a target="_blank" href="https://www.strava.com/athletes/7966134">велосипеде</a> и у меня есть кот &#128008;.<p>
                            Мои репозитории:<br>
                            <a target="_blank" href="https://github.com/rtemb">https://github.com/rtemb</a><br>
                            <a target="_blank" href="https://gitlab.com/rtemb">https://gitlab.com/rtemb</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}