<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}www.rtemb.com{% endblock %}</title>
        <meta name="author" content="rtemb darakon92@gmail.com">
        <meta name="description" content="Блог обо всем из мира IT." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.cc81439b.png') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">

        {% if not devEnv %}
            <meta name="google-site-verification" content="G6KuAsa0JW0lKPZAThfh1kXs4bGHM7OFonYNQN9g1bo" />
        {% endif %}

        <meta name="revisit-after" content="1">
        <meta name="keywords" content="IT, development, hardwear">
        <meta name="description" content="www.rtemb.com - Блог обо всем из мира IT. Программирование, железки, системное администрирование.">

        <meta property="og:site_name" content="www.rtemb.com" />
        {% block openGraphTags %}
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://www.rtemb.com" />
            <meta property="og:description" content="www.rtemb.com (Artem Barhanov) - персональный блог где в свободное время я пишу об интересных мне вещах из мира IT" />
            <meta property="og:image" content="http://www.blog.ru/images/favicon.png" />
            <meta property="og:image:url" content="http://www.blog.ru/images/favicon.png" />
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="layout">
            {% block header %} {% include 'header.html.twig' %} {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %} {% include 'footer.html.twig' %} {% endblock %}
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

        {% if not devEnv %}
            {% include 'yametrika.html.twig' %}
        {% endif %}
    </body>
</html>
