<div class="container-fluid footer-wrap">
    <div class="container">
        <div class="col-sm-3 col-xs-6">
            {% include 'section-list.html.twig' %}
        </div>
        <div class="col-sm-3 col-xs-6">
            <div>
                <ul class="nav-list">
                    <li><h5 class="nav-list-header">Информация</h5></li>
                    <li><a href="{{ path('about_page') }}">О сайте</a></li>
                    <li><a href="{{ path('rules_page') }}">Правила</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>