{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                {% for post in postCollection.items %}
                    {% include 'post-preview.html.twig' %}
                {% endfor %}
            </div>
            <div class="col-sm-3 hidden-xs">
                {% include 'section-list.html.twig' %}
            </div>
        </div>
        <div class="row paginator">
            {% include 'pagination.html.twig' %}
        </div>
    </div>
{% endblock %}