{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="col-sm-12 col-xs-12">
            <h1 class="title">Login</h1>
            <div class="row">
                <div class="login-form-block col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
                    <form action="{{ path('login') }}" method="post">
                        <div class="login-input-row">
                            <span class="title login-input-label">User name:</span>
                            <input class="login-input" type="text" id="username" name="_username" title="user name" required value="{{ last_username }}" />
                        </div>
                        <div class="login-input-row">
                            <span class="title login-input-label">Password:</span>
                            <input class="login-input" type="password" id="password" name="_password" title="password" required />
                        </div>
                        {% if error %}
                            <div class="alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <button class="login-submit-btn btn btn-sm" type="submit">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}