{% set postsPerPage = constant('App\\Controller\\MainController::POSTS_PER_PAGE') %}
{% set numOfPages = postCollection.numOfPages %}

{% if postCollection.total > postsPerPage %}
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            {% if postCollection.previousPageLink %}
                <li>
                    <a href="{{ postCollection.previousPageLink }}" aria-label="Previous"><span aria-hidden="true">&#8592;</span></a>
                </li>
            {% endif %}
            {% for pageLink in postCollection.LinksForPage %}
                <li class="{% if pageLink == postCollection.currentPageLink %}active{% endif %}">
                    <a href="{{ pageLink }}">{{ loop.index }}</a>
                </li>
            {% endfor %}
            {% if postCollection.nextPageLink %}
                <li>
                    <a href="{{ postCollection.previousPageLink }}" aria-label="Next"><span aria-hidden="true">&#8594;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}