{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="row">
                {{ form_start(postForm) }}
                <div class="col-sm-9 col-xs-9">
                    <h4 class="post-preview-title post-edit-header">Title</h4>
                    {{ form_row(postForm.title, { 'attr': {'class': 'post-edit-title-input'}}) }}

                    <h4 class="post-preview-title post-edit-header">Preview</h4>
                    {{ form_row(postForm.preview) }}

                    <h4 class="post-preview-title post-edit-header">Text</h4>
                    {{ form_row(postForm.text) }}

                    <h4 class="post-preview-title post-edit-header">Section</h4>
                    {{ form_row(postForm.section) }}

                    <h4 class="post-preview-title post-edit-header">Key words</h4>
                    {{ form_row(postForm.keywords, { 'attr': {'class': 'post-edit-title-input'}}) }}

                    <h4 class="post-preview-title post-edit-header">Publication date</h4>
                    {{ form_row(postForm.datePublished, { 'attr': {'class': 'post-edit-pub-date-input'}}) }}
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="post-edit-tool-panel">
                        <h4 class="post-preview-title post-edit-tool-panel-status">Post Status</h4>
                        {{ form_row(postForm.status) }}
                        <button type="submit" id="post_form_sumbitBtn" class="btn post-edit-tool-panel-save">Save</button>
                    </div>
                </div>
            {{ form_end(postForm) }}
        </div>
    </div>
    <script src="{{ asset('build/js/app/post-edit.js') }}"></script>
{% endblock %}