<div class="post-preview">
    <div class="post-header">
        <span class="post-pudate">{{ post.datePublished|date('Y-m-d H:i') }}</span>
        <a href="/post/read/{{ post.id }}"><h2 class="post-preview-title">{{ post.title }}</h2></a>
        <div>
            {% set keywords = post.keywords|split(',') %}
            {% for keyword in keywords  %}
                <small><a class="post-tag">#{{ keyword }}</a></small>{% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    </div>
    <p class="preview-text">
        {{ post.preview | raw }}
    </p>
    <span>
		<a class="post-preview-more" href="/post/read/{{ post.id }}">Далее &#10230;</a>
	</span>
</div>