{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="col-sm-12 col-xs-12">
            <h1 class="title">Register</h1>
            <div class="row">
                <div class="register-form-block col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
                    {{ form_start(registerForm) }}
                    <div class="register-input-row">
                        <span class="title register-input-label">User name:</span>
                        {{ form_widget(registerForm.username, { 'attr': {'class': 'register-input'}}) }}
                    </div>

                    <div class="register-input-row">
                        <span class="title register-input-label">Email:</span>
                        {{ form_widget(registerForm.email, { 'attr': {'class': 'register-input'}}) }}
                    </div>

                    <div class="register-input-row">
                        <span class="title register-input-label">Password:</span>
                        {{ form_widget(registerForm.plainPassword.first, { 'attr': {'class': 'register-input'}}) }}
                    </div>

                    <div class="register-input-row">
                        <span class="title register-input-label">Repeat password:</span>
                        {{ form_widget(registerForm.plainPassword.second, { 'attr': {'class': 'register-input'}}) }}
                    </div>

                    <div class="alert-warning">
                        {{ form_errors(registerForm.plainPassword) }}
                    </div>
                    <button class="register-submit-btn btn btn-sm" type="submit">Register</button>
                    {{ form_end(registerForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}