{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="col-sm-9 col-xs-12">
            <h2 class="title">Правила</h2>
            <div class="text-block">
                <p>
                    1. Копирование, заимствование, рерайт и другие способы использования информации на этом сайте с целью ее дальнейшего размещения где-либо, запрещены без письменного согласия автора.
                </p>
            </div>
        </div>
    </div>
{% endblock %}