<div>
    <ul class="nav-list">
        <li><h5 class="nav-list-header">Секции</h5></li>
        {% for section in sectionRepo.getAllSection %}
            <li><a href="/?section={{ section.id }}">{{ section.name }}</a></li>
        {% endfor %}
    </ul>
</div>