{% extends 'base.html.twig' %}

{% block body %}
<div class="container content-area">
    <div class="row">
        <div class="content-wrap">
            <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                <div class="post-wrap">
                    <div class="post-header">
                        <span class="post-pudate">{{ post.datePublished|date('Y-m-d H:i:s') }}</span><a href="{{ path('index_page', {'section':post.section.id}) }}"> {{ post.section.name }}</a>
                        <h2 class="post-title">{{ post.title }}</h2>
                        <div>
                            <small class="post-tag">#{{ post.keywords|replace({',':' #'}) }}</small>
                        </div>
                    </div>
                    <p class="preview-text">
                        {{ post.text | raw }}
                    </p>
                </div>
                <div class="share-bnts-wrap">
                    <div class="share-bnts-content">
                        {% include 'post/share-btns.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
