{% if post.socialData %}
    <a class="share-btn share-btn-vk" onclick="Share.vkontakte('{{ post.socialData.url }}','{{ post.socialData.title }}','{{ post.socialData.image }}','{{ post.socialData.description }}')"></a>
    <a class="share-btn share-btn-facebook" onclick="Share.facebook('{{ post.socialData.url }}','{{ post.socialData.title }}','{{ post.socialData.image }}','{{ post.socialData.description }}')"></a>
    <a class="share-btn share-btn-mailru" onclick="Share.mailru('{{ post.socialData.url }}','{{ post.socialData.title }}','{{ post.socialData.image }}','{{ post.socialData.description }}')"></a>
    <a class="share-btn share-btn-ok" onclick="Share.odnoklassniki('{{ post.socialData.url }}', '{{ post.socialData.description }}')"></a>
    <a class="share-btn share-btn-twitter" onclick="Share.twitter('{{ post.socialData.url }}','{{ post.socialData.title }}')"></a>
    <a class="share-btn share-btn-email" href="mailto:"></a>
    <a class="share-btn share-btn-print" onclick="window.print();"></a>
    <script src="{{ asset('build/js/app/share-btns.js') }}"></script>
{% endif %}